.seat-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.seat-item__container {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.seat-item__container button {
  min-height: 49.5px;
}

.seat-item__container button:disabled {
  background-color: #ec6d7f;
  border-color: #ec6d7f;
}
