.seat-list {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.seat-list > span {
  border-radius: 5px;
  background-color: #dddddd;
}

@media screen and (max-width: 768px) {
  .seat-list {
    border-right: none;
  }
}
