.model {
  width: 240px;
  position: relative;
}

.model__glass {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.model__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(243, 159, 74, 0.7);
}

.model__overlay h6 {
  color: #6f42c1;
}

.model__overlay p {
  font-size: 13px;
}
